<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head th:include="layout :: headerFragment">
        <title>Kinde</title></head>
    <body>
        <div id="container">
            <div class="jumbotron text-center">
                <h3>HOME</h3>
            </div>
            <div>
                <div class="well">
                    <div>
                        <a href="/public">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>